.profile {
  width: 3rem;
  min-width: 3rem;
  height: 3rem;

  &:global(.big) {
    width: 8rem;
    min-width: 8rem;
    height: 8rem;
  }

  @media (min-width: 768px) {
    width: 5rem;
    height: 5rem;
  }
}

.twitter {
  max-width: 34rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @media (min-width: 768px) {
    max-width: 10rem;
    white-space: pre-wrap;
    height: fit-content;
    word-wrap: break-word;
  }
}
