div.youtube,
div.spotify {
  display: inline-block;
  overflow: hidden;
  border-radius: 1rem;
  margin: 2rem 0;

  border: 1px solid rgb(124, 58, 237);
  box-shadow: 2px 2px rgb(124, 58, 237);
}

html.dark div.youtube,
html.dark div.spotify {
  border: 1px solid rgba(48, 54, 61);
}
