div.youtube, div.spotify {
  display: inline-block;
  overflow: hidden;
  border-radius: 1rem;
  border: 1px solid #e1e4e8;
  margin: 2rem 0;
}

html.dark div.youtube, html.dark div.spotify {
  border: 1px solid rgba(48, 54, 61);
}
