::-webkit-scrollbar-thumb {
  background-color: #30363d;
}

::-webkit-scrollbar-track {
  width: 10px;
  background: rgb(240, 246, 252);
}

::-webkit-scrollbar {
  width: 8px;
}

html.dark {
  ::-webkit-scrollbar-track {
    background: #000;
  }
}
